* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    color: #ddd;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23555555' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h1, h2 {
    text-align: center;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;}

.text {
    text-align: center;
    padding: 0 25px;
}

button:hover {
    cursor: pointer;;
}

button {
    background: #333;
    font-size: 1rem;
    color: #ddd;
    border: 1px solid #555;
    transition: all 250ms;
}

.group {
    padding: 10px 5px 10px 10px;
    border: 1px solid #ccc;
    margin: 5px;
    background: #555;
}

.delete {
    height: 24px;
    width: 24px;
    background-color: #DD352E;
    border: none;
    margin: 0 0 5px 5px;
    float: right;
    color: white;
}

.delete::before {
    content: "X"
}

.track {
    font-family: monospace;
    font-size: 1.5rem;
    margin-bottom: 5px;
    width: 200px;
    display: flex;
}

.track input {
    width: 25px;
    padding: 5px;
}

.hidden {
    display: none !important;
}

#drumBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#drumBtns > div {
    width: 500px;
    text-align: center;
}

#drumBtns button {
    margin: 10px;
    padding: 10px;
    width: 25%;
    max-width: 100px;
    font-size: 1rem;
}

#controls {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#controls > button {
    width: 200px;
    height: 50px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

#drumBtns button:hover, #controls > button:hover {
    background: #ddd;
    color: #333;
}

#controls img {
    height: 32px;
}

#song {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}