.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.track {
    display: flex;
}

.track input {
    width: 25px;
    padding: 5px;
}

#song {
    margin: 50px 0;
}